html,

body {

}

h1 {
	text-decoration: underline;
	font-family: 'Monoton', sans-sarrif;
	font-weight: normal;
	font-size: 100px;
	color: white;
}

h2 {
	font-size: 80px;
	text-decoration: underline;
	color: black;
}

h3 {
	font-size: 40px; 
}

h4 {
	font-size: 28px;
}

p {
	font-size: 20px;
	text-indent: 20px;
	line-height: 30px;
	font-family: "roboto condensed";
}

li {
	font-size: 22px;
	text-indent: 20px;
	font-family: "roboto condensed";
	line-height: 30px;
}

table {
	background-color: rgb(172, 36, 36);
	background-position: center;
	top: 0px;
	position: static;
	width: 100%;
}

td {
	float: left;
	text-align: center;
}

.link {
	font-size: 25px;
	text-align: left;
}

.banner {
	background-image: url(https://cdn1.umg3.net/59/files/2016/12/elbow-LFsite-LRG.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

.date {
	color: gray;
	font-style: italic;
	font-size: 15px;
	position: relative;
	bottom: 45px;
}

.title {
	font-size: 35px;
}

.title_2 {
	font-size: 25px;
	position: relative;
	bottom: 30px;
}

.MET {
	background-image: url(http://web.mta.info/mnr/gifs/themetmuseum.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

.home {
	font-family: 'Monoton', sans-serif;
	color: white;
	background-color: rgb(172, 36, 36);
}

.page {
	font-family: 'Pathway Gothic One', sans-serif;
	color: white;
	background-color: rgb(172, 36, 36);
	display: inline-block;
}

.pic {
	height: 400px;
	position: relative;
	
}

.comp-1 {
	height: 600px;
	width: 600px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.caption {
	position: relative;
	top: 100%;
	width: 60%;
	text-indent: 0px
}
/* Slideshow */

.slider-holder {
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
        
.image-holder {
	width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
            
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
	transition: left 2s;
}
        
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
	position: relative;
}
        
#slider-image-1:target ~ .image-holder {
    left: 0px;
}
        
#slider-image-2:target ~ .image-holder {
    left: -800px;
}
        
#slider-image-3:target ~ .image-holder {
	left: -1600px;
}
        
.button-holder {
    position: relative;
    top: -20px;
}
        
.slider-change {
    display: inline-block;
    height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: brown;
        }

#directory {
	padding:0 100px;
	color: rgb(172, 36, 36);
}