html,

body {

}

h1 {
	text-decoration: underline;
	font-family: 'Monoton', sans-sarrif;
	font-weight: normal;
	font-size: 100px;
	color: white;
}

h2 {
	font-size: 80px;
	text-decoration: underline;
	color: black;
}

h3 {
	font-size: 40px;
	color: white;
	text-decoration: underline;
}

h4 {
	font-size: 28px;
	color: white;
}

p {
	font-size: 20px;
	text-indent: 20px;
	line-height: 30px;
	font-family: "roboto condensed";
	color: white;
}

td {
	font-size: 20px;
	text-indent: 20px;
	line-height: 30px;
	font-family: "roboto condensed";
	float: left;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

li {
	font-size: 22px;
	text-indent: 20px;
	font-family: "roboto condensed";
	line-height: 30px;
	color: white;
}

table {
	background-color: rgb(172, 36, 36);
	background-position: center;
	top: 0px;
	position: static;
	width: 100%;
}

a {
	color: cyan;
}

.link {
	font-size: 25px;
	text-align: left;
}

.banner {
	background-image: url(https://cdn1.umg3.net/59/files/2016/12/elbow-LFsite-LRG.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

.date {
	color: rgb(189, 189, 189);
	font-style: italic;
	font-size: 15px;
	position: relative;
	bottom: 45px;
}

.title {
	font-size: 35px;
}

.title_2 {
	font-size: 25px;
	position: relative;
	bottom: 30px;
}

.MET {
	background-image: url(http://web.mta.info/mnr/gifs/themetmuseum.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	color: black;
}

.home {
	font-family: 'Monoton', sans-serif;
	color: white;
	background-color: rgb(172, 36, 36);
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

.page {
	font-family: 'Pathway Gothic One', sans-serif;
	color: white;
	background-color: rgb(172, 36, 36);
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

.pic {
	height: 400px;
	position: relative;
	
}

.comp-1 {
	height: 600px;
	width: 600px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.caption {
	position: relative;
	top: 100%;
	width: 60%;
	text-indent: 0px
}

.pigeon {
	height: 300px;
	width: 600px;
}

.me {
	width: 600px;
	height: 1000px;
	padding-top: 100px;
	padding-bottom: 10px;
}

.text {
	position: relative;
	background-color: rgb(172, 36, 36);
	box-sizing: border-box;
	padding: 40px;
	text-align: center;
	width: 100%;
	top: 50px;
}

#directory {
	padding:0 100px;
	color: rgb(172, 36, 36);
}